@model Course

@{ int i = 0;
    if (ViewData["status"] != null) { i = (int)ViewData["status"]; } }

@{ int j = 0;
    if (ViewData["betyg"] != null) { j = (int)ViewData["betyg"]; } }

<partial name="navbar" />

@{ ViewData["Title"] = @Html.DisplayFor(c => c.Name); }

<div class="container-fluid">
    <div style="margin-top:0px;" class="row-fluid">
        <div class="offset4 span4 well" style="margin: 10% auto; width: 400px;">

            <h4>@Html.DisplayFor(c => c.Name)</h4>
            <br />
            <br />

            <h6><b>Högskolepoäng</b></h6>
            @Html.DisplayFor(c => c.HP)
            <br />
            <br />

            <h6><b>Institution</b></h6>
            @Html.DisplayFor(c => c.Institution)
            <br />
            <br />
            <form asp-action="EditCourse" method="post" style="margin: 0% auto; width: 400px;">
                <b><label asp-for="Status" class="control-label, span12"></label></b>
                <br />

                @{ if (Model.Status != "Avklarad")
                    {


            <div class="form-group">

                <select class="form-control" id="status" name="status">

                    @foreach (ProjectDB.Models.Status statuses in Model.AllStatuses)
                    {
            @if (statuses.Id != i)
            {
            <option value=" @statuses.Id ">@statuses.StatusType</option> }
                                else
                                {
            <option value="@statuses.Id" Selected>@statuses.StatusType</option>}}
                </select>
            </div> }
        else
        {
            @Html.DisplayFor(c => c.Status) } }
                

                @{ if (Model.Betyg == "NAN" || Model.Betyg == "U")
                    {


                <div class="form-group">
                <b><label asp-for="Betyg" class="control-label, span12"></label></b>
                <select class="form-control" id="betyg" name="betyg">
                    @foreach (ProjectDB.Models.Grade grades in Model.AllGrades)
                    {

            @if (grades.Id != j)
            {

            <option value=" @grades.Id ">@grades.GradeType</option> }
                                else
                                {
            <option value="@grades.Id" Selected>@grades.GradeType</option>}}
                </select>
            </div>
                            <div class="form-group">
                                <input type="submit" value="Spara ändringar" class="btn btn-dark" />
                            </div>}

                        else
                        {

            @Html.DisplayFor(c => c.Betyg) }




        if (Model.Status != "Avklarad")
        {
            <div class="form-group">
                <input name="del" type="submit" value="Ta bort kurs" class="btn btn-danger" />
            </div> } }


            </form>



            <br />
            <br />
        </div>
    </div>
</div>


@ViewBag.errormsg
@ViewBag.del

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
