@model Course

@{ int i = 0;
    if (ViewData["status"] != null) { i = (int)ViewData["status"]; } }

@{ int j = 0;
    if (ViewData["betyg"] != null) { j = (int)ViewData["betyg"]; } }

<partial name="navbar" />

@{ ViewData["Title"] = "EditCourse"; }

<br />
<br />

<h4>@Html.DisplayFor(c => c.Name)</h4>
<br />
<br />

<h6><b>Högskolepoäng</b></h6>
@Html.DisplayFor(c => c.HP)
<br />
<br />

<h6><b>Institution</b></h6>
@Html.DisplayFor(c => c.Institution)
<br />
<br />


<h6><b>Status</b></h6>
<form asp-action="EditCourse" method="post">

    @{ if (Model.Status != "Avklarad")
        {
<br />





                <div class="form-group">
                    <select class="form-control" id="Institution" name="Institution">
                        @foreach (ProjectDB.Models.Status statuses in Model.AllStatuses)
                        {
        @if (statuses.Id != i)
        {
<option value=" @statuses.Id ">@statuses.StatusType</option>
 }
else
{
<option value="@statuses.Id" Selected>@statuses.StatusType</option>
}}
                    </select>
                </div> }
            else
            {
@Html.DisplayFor(c => c.Status) } }

    <br />
    <br />

    <h6><b>Betyg</b></h6>

    @{ if (Model.Betyg == "NAN" || Model.Betyg == "U")
        {
<br />




                <div class="form-group">
                    <select class="form-control" id="Institution" name="Institution">
                        @foreach (ProjectDB.Models.Grade grades in Model.AllGrades)
                        {
        @if (grades.Id != j)
        {
<option value=" @grades.Id ">@grades.GradeType</option>
 }
else
{
<option value="@grades.Id" Selected>@grades.GradeType</option>
}}
                    </select>
                </div> }
            else
            {
@Html.DisplayFor(c => c.Betyg) } }

    <div class="form-group">
        <input type="submit" value="Uppdatera" class="btn btn-dark" />
    </div>
</form>


<br />
<br />

@ViewBag.errormsg

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
