@model Person

@{ ViewData["Title"] = "Min examen"; }


<partial name="navbar" />

<br />
<br />

<h4>Min examen</h4>
<br />
<br />

<div style="margin: auto ">
    <div style="text-align: center">

        <h2 class="year"> Du har @ViewData["totYear"] år, @ViewData["totMonth"] månader och @ViewData["totDay"] dagar kvar tills examen!</h2>
        <br />
        <h4>Du har @ViewData["totalDays"] dagar totalt kvar till examen.</h4>

    </div>

    <br />
    <br />

    <div style="padding-left: 20%; padding-right:20%;">
        <div style="float:left">
            <h5><b>Examensdatum:</b><br />@ViewBag.date</h5>

        </div>

        <div style="float:right">
            <h5><b>Antal lästa HP:</b><br />@ViewBag.HP</h5>
        </div>

    </div>
</div>


<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@ViewBag.error