@model Person

@{ ViewData["Title"] = "Min profil"; }

<partial name="navbar" />

<br />
<br />

<h4>Min profil</h4>

@ViewBag.error
@ViewBag.errormsg

<br />



<div class="container-fluid">
    <div style="margin-top:0px;" class="row-fluid">
        <div class="offset4 span4 well">
            <form asp-action="Profile" method="post" style="margin: 10% auto; width: 400px;">
                <h4>@Html.DisplayFor(c => c.Username)</h4>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ExamDate" class="control-label, span12"></label>
                    <input asp-for="ExamDate" class="form-control" value="@Convert.ToDateTime(@ViewBag.exam).ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="ExamDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Education" class="control-label, span12"></label>
                    <input asp-for="Education" class="form-control" placeholder="@ViewBag.education" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>


                <br />
                <div class="form-group">
                    <input type="submit" value="Spara ändringar" class="btn btn-dark" />
                </div>

                <span class="text-success">@ViewBag.save</span>

            </form>


            <p>Ladda upp en valfri bild. OBS! Endast formatet .png stödjs.</p>
            <hr />

            <div class=" =row">
                <div class="col-md-4">
                    <form asp-action="Profile" method="post" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="File" class="control-label"></label>
                            <input type="file" id="formFile" name="File" class="form-control" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <input type="submit" value="Ladda upp" class="btn btn-dark" />
                        </div>

                    </form>

                </div>
            </div>

            @if (!string.IsNullOrEmpty(@ViewBag.Image))
            {
<p>Uppladdad bild:</p>

                <img src="@ViewBag.Image" style="width: 400px; " alt="bild" />}

        </div>
    </div>
</div>




<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
