@model Person

@{ ViewData["Title"] = "Min profil"; }

<partial name="navbar" />

<br />
<br />

<h4>Min profil - @ViewBag.user</h4>
<br />
<br />

<div style=" float: left;">
    <div style=" width:100%;">
        @if (!string.IsNullOrEmpty(@ViewBag.Image))
        {

<img src="@ViewBag.Image" style="width: 300px; height: 300px; float:left; margin-bottom: 50px; border-radius:50%" alt="bild" />}
    </div>

    <div style=" float:left;">
        <a class="text-info" asp-controller="Home" asp-action="EditImage">Ändra profilbild</a>
       
    </div>

</div>

<div style=" float: right; width: 70%;">
    <div class="container-fluid">
        <div style="margin-top:0px;" class="row-fluid">
            <div class="offset4 span4 well">
                <form asp-action="Profile" method="post" style="margin: 0% auto; width: 400px;">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ExamDate" class="control-label, span12"></label>
                        <input asp-for="ExamDate" class="form-control" value="@Convert.ToDateTime(@ViewBag.exam).ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="ExamDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Education" class="control-label, span12"></label>
                        <input asp-for="Education" class="form-control" placeholder="@ViewBag.education" />
                        <span asp-validation-for="Education" class="text-danger"></span>
                    </div>


                    <br />
                    <div class="form-group">
                        <input type="submit" value="Spara ändringar" class="btn btn-dark" />
                    </div>

                    <span class="text-success">@ViewBag.save</span>

                </form>

            </div>
        </div>
    </div>

</div>



@ViewBag.error
@ViewBag.errormsg

<br />

<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
